name: francy_sheets
description: "A application for viewing and managing PDF sheets."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.3.3
  shared_preferences: ^2.2.2
  pdfx: ^2.9.2
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
